.form{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: clamp(400px,80%,500px);
	border-radius: 30px;
	background: #1a1a1a;
	gap: 35px;
	padding: 50px;
	box-shadow: 0 0 15px #0008;
	& .message{
		font-family: monospace;
		color: #f88;
		position: absolute;
		bottom: 0;
		translate:0 100%;
		transition: opacity 0.3s,translate 0.3s;
		pointer-events: none;
		&.valid{
			translate: 0 -25%;
			opacity: 0;
		}
	}
	& ::-webkit-inner-spin-button,& ::-webkit-outer-spin-button{
		display: none;
	}
	& > h1{
		text-align: center;
		font-family: verdana;
		font-weight: 600;
		color: transparent;
		background: linear-gradient(90deg,#0fa,#0af);
		background-clip: text;
		-webkit-background-clip: text;
		filter: drop-shadow(0 0 12px #0aa6);
	}
	& > movieForm{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 35px;
		&  input:not([type="submit"]){
			all: unset;
			height: 35px;
			border-bottom: 2px solid #333;
			background: #0001;
			font-weight: 600;
			color: #fff;
			font-family: monospace;
		}
		& .inp{
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			width: 100%;
			--pad:10px;
			& > label{
				font-family: sans-serif;
				left: var(--pad);
				position: absolute;
				color: #666;
				text-transform: capitalize;
				pointer-events: none;
				transform-origin: 0 0;
				transition: transform 0.2s, color 0.3s;
			}
			& > input{
				text-overflow: ellipsis;
				padding: 0 var(--pad);
				&:is(:focus,.not-empty) ~ label{
					color: #0DF;
					transform: translate(calc(var(--pad) - calc(var(--pad) * 2)),-100%) scale(0.8);
				}
				&:disabled{
					background: #8001;
					cursor: not-allowed;
				}
				&::placeholder{
					opacity: 0;
				}
				&:focus::placeholder{
					opacity: 1;
				}
			}
		}
		& > .genres-cont{
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 5px;
			width: 100%;
			& > span{
				position: static;
				translate:0;
				.valid{
					translate:0 -125%;
				}
			}
			& > .inp{
				justify-content: center;
				width: 50%;
			}
			& > .genres{
				display: flex;
				width: 100%;
				min-height: 50px;
				padding: 20px;
				background: #222;
				gap: 10px;
				border-radius: 5px;
				flex-wrap: wrap;
				box-shadow: 0 0 2px #0df;
				& > div{
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: verdana;
					font-weight: 600;
					font-size: 14px;
					text-transform: capitalize;
					color: #222;
					padding: 3px 10px;
					cursor: pointer;
					user-select: none;
					border-radius: 100vmax;
					min-width: 30px;
					background: #afa;
					&::before{
						content: '';
						display: block;
						position: absolute;
						height: 30px;
						width: 60px;
						top: -35px;
						opacity: 0;
						background: #000 url("../../assets/images/trash.svg");
						background-size: auto 65%;
						border-radius: 100vmax;
						background-position: center;
						background-repeat: no-repeat;
						transition: opacity 0.3s;
						pointer-events: none;
					}
					&:hover::before{
						opacity: 1;
					}
					&::after{
						content: '';
						display: block;
						position: absolute;
						top: -5px;
						opacity: 0;
						border-top: 5px solid #000;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						transition: opacity 0.3s;
						pointer-events: none;
					}
					&:hover::after{
						opacity: 1;
					}
				}
			}
		}
		& > .sub-cont{
			background: linear-gradient(135deg,#0df,#a0f);
			border-radius: 100vmax;
			padding: 2px;
			cursor: pointer;
			transition:scale 0.3s, box-shadow 0.3s;
			position: relative;
			& > input{
				&.loading ~ .load{
					display: flex;
				}
			}
			& > .load{
				position: absolute;
				background: #111;
				top: 0;
				left: 0;
				border-radius: 100vmax;
				width:100%;
				height:100%;
				display: none;
				justify-content: center;
				align-items: center;
				gap: 1ch;
				& > span{
					border-radius: 50%;
					height: 1ch;
					width: 1ch;
					background: #888;
					animation: loading 0.6s var(--delay) ease-in-out infinite alternate;
				}
			}
			&:hover{
				scale: 1.1;
				box-shadow:-2px 0 5px #0df,2px 0 5px #a0f;
			}
			&:active{
				scale: 0.9;
			}
		}
		& input[type="submit"]{
			all: unset;
			padding: 6px 12px;
			border-radius: 100vmax;
			color: #eee;
			background: #111;
			font-family: monospace;
			font-weight: 600;
			font-size: 18px;
			letter-spacing: 3px;	
			text-transform: capitalize;
		}
	}
}
@keyframes loading {
	from{
		scale: 0.9;
		background: #666;
	}
	to{
		scale: 1.1;
		background: #aaa;
	}
}