<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/add.css">
	<link rel="stylesheet" type="text/css" href="static/css/movieForm.css">
	<link rel="stylesheet" type="text/css" href="static/css/notify.css">
	<title>Añadir</title>
</head>
<body>
	<!-- <div> -->
		<!-- <img src="./assets/images/back.svg" alt="" class="back" id="back"> -->
	<!-- </div> -->
	<form id="form" type="crear" class="form" method="post">
		<h1>Crear pelicula</h1>
	</form>
	<script src="static/js/add.js" type="module"></script>
</body>
</html>