<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/edit.css">
	<link rel="stylesheet" type="text/css" href="static/css/movieForm.css">
	<link rel="stylesheet" type="text/css" href="static/css/notify.css">
	<title>Editar</title>
</head>
<body>
	<form id="idForm" class="form">
		<h1>Selecciona la pelicula</h1>
		<movieForm>	
			<div class="inp">
				<input type="text" name="id" id="id" required>
				<label for="id">Id</label>
				<span class="valid message" id="message-id">Id no valida</span>
			</div>
			<div class="sub-cont">
				<input type="submit" value="Buscar pelicula">
				<div class="load">
					<span style="--delay:0s;"></span>
					<span style="--delay:0.2s;"></span>
					<span style="--delay:0.4s;"></span>
				</div>
			</div>
		</movieForm>
		
	</form>
	<form id="form" type="actualizar" class="form" method="patch">
		<h1>Editar pelicula</h1>
	</form>
	<script src="static/js/edit.js" type="module"></script>
</body>
</html>