<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/home.css">
	<title>Inicio</title>
</head>
<body>
	<h1>Alex Movies</h1>
	<ul class="list">
		<li><a href="query">consultar</a></li>
		<li><a href="add">agregar</a></li>
		<li><a href="edit">editar</a></li>
		<li><a href="delete">eliminar</a></li>
	</ul>
	<script src="static/js/home.js" type="text/javascript"></script>
</body>
</html>