<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/query.css">
	<link rel="stylesheet" type="text/css" href="static/css/notify.css">
	<title>Consultar</title>
</head>
<body>
	<h1>Alex Movies</h1>
	<main id="mainContent">
		<div class="loading">
			<span style="--delay:0s;"></span>
			<span style="--delay:0.2s;"></span>
			<span style="--delay:0.4s;"></span>
			<span style="--delay:0.6s;"></span>
			<span style="--delay:0.8s;"></span>
			<span style="--delay:1s;"></span>
		</div>
	</main>
	<script src="static/js/query.js" type="module"></script>
</body>
</html>